@model CurrencyLibrary.USCurrency.USCurrencyRepo

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>USCurrencyRepo</h4>

    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<dd>
    Total Value: 
</dd>
<dt>
    @Model.TotalValue()
</dt>
<br>
<dd>
    Coin List
</dd>
<ul>
    @{
        foreach (var coin in Model.Coins)
        {
            <li>@coin.Name</li>
        }
    }
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
